.box {
  width: 400px;
  height: 400px;
}

.crop-to-fit {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.crop-to-fit img {
  flex-shrink:0;
  min-width:100%;
  min-height:100%
}
